body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.textParserClient {
    height: 750px;
    width: 910px;
    margin-top: 50px;
    position: relative;
    overflow-y: hidden;
}

.text-output {
    position: absolute;
}

ul.animated-list {
    display: inline;
    padding: unset;
    margin: unset;
}

    ul.animated-list li {
        display: inline;
        padding: unset;
        margin: unset;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
