@model Echoes.Web.Models.ExistenceModel

@{
    ViewData["Title"] = "Purgatory";
    Layout = "~/Pages/_Layout.cshtml";
}

<div>
    <span>You stand in purgatory. You might want to exist somewhere.</span>
</div>


