@model Echoes.Web.Models.ExistenceModel

@{
    ViewData["Title"] = "EXIST";
    Layout = "~/Pages/_Layout.cshtml";
    var newRecords = Model.NewToYou;
}

<div class="textParserClient">
    <div id="OutputArea" class="parserOutput"></div>
    <form method="post" id="inputForm" name="inputForm">
        <input type="text" id="Input" name="Input" class="parserInput" />
    </form>
</div>
<div>
    <a href="#" id="clientReload">Blink</a>
</div>

@section Scripts {
    <script type="text/javascript">
        PositionOutput('@Model.Errors', $('.parserOutput'), undefined, { in: { effect: 'fadeIn' } }, { 'color': 'red' });

        var timer = 0;
       @foreach (var record in Model.NewToYou)
       {
          <text>
        PositionOutput('@record.Observance', $('.parserOutput'), undefined, { initialDelay: timer });
            timer += 1250;
          </text>
       }

        $('#inputForm').submit(function () {
            //Ensure we have value
            if ($('#Input').val() == '') {
                return false;
            }

            setAkashicDate();
        });

        $('#clientReload').click(function () {
            location.reload();
            return false;
        });
    </script>
}