@model Echoes.Web.Models.ExistenceModel

@{
    ViewData["Title"] = "EXIST";
    Layout = "~/Pages/_Layout.cshtml";
    var newRecords = Model.NewToYou;
}

<div class="textParserClient">
    <div id="OutputArea" class="parserOutput"></div>
    <form method="post" id="inputForm" name="inputForm">
        <input type="text" id="Input" name="Input" class="parserInput" />
    </form>
</div>
<div>
    <a href="." id="clientReload">Blink</a>
</div>

@section Scripts {
<script type="text/javascript">
        PositionOutput('@Model.Errors', $('.textParserClient'), undefined, { in: { effect: 'fadeIn' } }, { 'color': 'red' });

       @foreach (var record in Model.NewToYou)
       {
          <text>
            PositionOutput('@record.Observance', $('.textParserClient'), undefined);
          </text>
       }

        $('#inputForm').submit(function () {
            //Ensure we have value
            if ($('#Input').val() == '') {
                return false;
            }

            setAkashicDate();
        });
    </script>
}