<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Markovian Echoes</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <link href="~/lib/jquery-textillate/assets/animate.css" rel="stylesheet">
    <link href="~/lib/jquery-textillate/assets/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">Markovian Echoes</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Existence" class="navLink" id="existLink"><img src="~/images/hatch_be.svg" title="EXIST" /></a></li>
                    <li><a asp-page="/Index" class="navLink" id="homeLink"><img src="~/images/hatch_home.svg" title="Home" /></a></li>
                    <li><a asp-page="/About" class="navLink" id="aboutLink"><img src="~/images/hatch_ask.svg" title="About" /></a></li>
                    <li><a asp-page="/Contact" class="navLink" id="contactLink"><img src="~/images/hatch_send.svg" title="Contact" /></a></li>
                </ul>
                @await Html.PartialAsync("./_LoginPartial.cshtml")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>This site and its contents &copy; 2018 - SwiftAusterity</p>
            <p>Many of the icons used are shamelessly taken from and &copy; <a href="http://www.toicon.com/" target="_blank">The Artificial</a>.</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/lib/jquery-textillate/assets/jquery.fittext.js"></script>
        <script src="~/lib/jquery-textillate/assets/jquery.lettering.js"></script>
        <script src="~/lib/jquery-textillate/jquery.textillate.js"></script>

        <script src="~/js/js-cookie.js"></script>
        <script src="~/js/moment.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="~/lib/jquery-textillate/assets/jquery.fittext.js"></script>
        <script src="~/lib/jquery-textillate/assets/jquery.lettering.js"></script>
        <script src="~/lib/jquery-textillate/jquery.textillate.js"></script>

        <script src="~/js/js-cookie.js"></script>
        <script src="~/js/moment.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $('.navLink').removeClass('selected');
    </script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        if (Cookies.get('tutorialMode') !== undefined) {
            $('#tutorialCheck').prop("checked", Cookies.get('tutorialMode') === 'on');
        }

        $('#tutorialCheck').click(function () {
            if ($('#tutorialCheck').prop("checked")) {
                Cookies.set('tutorialMode', 'on');
            } else {
                Cookies.set('tutorialMode', 'off');

                //Wipe out all the tutorial bits
                $('.tutorial').remove();
            }
        });

        if (Cookies.get('persona') != undefined && Cookies.get('persona') != '' && $('#PersonaName').val() == '') {
            $('#PersonaName').val(Cookies.get('persona'));
            rememberPersona($('#PersonaName').val());
            $('#personaLabel').addClass('button');
        } else {
            Tutorial($('#PersonaName'), 'Choose who you want to be.');
        }

        Tutorial($('#tutorialCheckLabel'), 'Turn me off at any time.');

        $('#PersonaName').val(Cookies.get('persona'));

        $('#personaLabel').click(function () {
            var $this = $(this);

            if ($this.hasClass('activated')) {
                forgetPersona();
            } else {
                rememberPersona($('#PersonaName').val());
            }

            return false;
        });

        $('ul.nav li input').on('keydown', function () {
            var key = event.keyCode || event.charCode;
            var $labels = $('#personaLabel');
            var currentValue = this.value;

            $labels.addClass('button');
            //Always blank the persona if changes are made
            forgetPersona();

            ///Deleting
            if (key == 8 || key == 46) {
                if (currentValue.length <= 1) {
                    $labels.removeClass('button');
                }
            }
        });
    </script>
</body>
</html>
