@using Microsoft.AspNetCore.Identity
@using Echoes.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" title="Who are you?" id="personaLabel" name="personaLabel">I Am</a>
            </li>
            <li>
                <input name="PersonaName" id="PersonaName" />
            </li>
            <li>
                <div style="padding:20px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a asp-page="/Account/Manage/Index" class="navLink" id="loginLink">Manage</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header" style="color: mediumvioletred">Administrative</li>
                        <li><a asp-page="/Admin/Dashboard" class="navLink" id="loginLink">Dashboard</a></li>
                        <li><a asp-page="/Admin/Logs" class="navLink" id="loginLink">Logs</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" title="Who are you?" id="personaLabel" name="personaLabel">I Am</a>
        </li>
        <li>
            <input name="PersonaName" id="PersonaName" />
        </li>
        <li><a asp-page="/Account/Login" class="navLink" id="loginLink"><img src="~/images/hatch_lock.svg" title="Admin Login" /></a></li>
    </ul>
}