@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div style="margin-top: 50px;">
    <p data-in-effect="fadeIn">Markovian Echoes is made and maintained by SwiftAusterity for the MUD Coders Guild 2018 Gamejam. Exist in the guild and share your echoes with us, </p>
    <a href="https://mudcoders.slack.com/">Exist with us</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#contactLink').addClass('selected');

        $('p').textillate({ in: { effect: 'fadeIn' } });
    </script>
}
