@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="margin-top: 50px;">
    <p class="animate-1">Existence</p>

    <p class="animate-2">
        <ul class="animated-list">
            <li>Persists</li>
            <li>Combines</li>
            <li>Evolves</li>
        </ul>
    </p>

    <div>
        <span class="animate-3">That which exists creates echoes that all which will exist</span> <ul class="animated-list animate-4"><li>experience</li><li>feel</li><li>are shaped by</li></ul>
    </div>

    <div class="animate-final" style="display:none;">
        <p>
            <a href="/existence">Exist</a>
        </p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.animate-1').textillate({
                in: { effect: 'fadeIn' },
                out: {
                    callback: function () {
                        $('.animate-2').textillate({
                            in: { effect: 'fadeIn' },
                            out: {
                                effect: 'fadeOutDown',
                                callback: function () {
                                    $('.animate-3').textillate({
                                        in: { effect: 'fadeIn' },
                                        out: {
                                            callback: function () {
                                                $('.animate-4').textillate({
                                                    in: { effect: 'fadeIn' },
                                                    out: {
                                                        effect: 'fadeOutDown',
                                                        callback: function () {
                                                            $('.animate-final').show();
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
}
