@page
@model IndexModel
@{
    ViewData["Title"] = "The Void";
}

<div class="textParserClient">
    <div class="animate-final" style="display:none;">
        <h3>
            <a href="/existence">Exist</a>
        </h3>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#homeLink').addClass('selected');

        Kinesis_Element($('<div class="h1">Existence</div>'), $('.textParserClient'), { FadeOnSweep: true }, undefined,
            {
                in: { effect: 'fadeIn' }
            });

        Kinesis_Text('Journey into a world without purpose or shape. Shape that world with purpose by your journey.', $('.textParserClient'), { FadeOnSweep: true }, undefined,
            {
                in: { effect: 'fadeIn' }
            });

        Kinesis_Array(['Experience a world of shared meaning.', 'Share a world of experienced meaning.', 'Experience meaning of a shared world.'],
            $('.textParserClient'),
            { FadeOnSweep: true },
            undefined,
            {
                in: { effect: 'fadeIn' },
                initialDelay: 8000
            });

        Kinesis_Array(['Shape your reality', 'Realize your shape', 'Your shaped reality'], $('.textParserClient'), { FadeOnSweep: true }, undefined,
            {
                in: { effect: 'fadeIn' },
                initialDelay: 8000
            });

        var quote = '"The only way to deal with an unfree world is to become so absolutely free that your very existence is an act of rebellion." - Albert Camus';
        var quote2 = '"As far as we can discern, the sole purpose of human existence is to kindle a light in the darkness of mere being." - Carl Jung';

        Kinesis_Text(quote, $('.textParserClient'), { Orientation: { direction: 'random' }, FadeOnSweep: true }, undefined, { in: { effect: 'fadeIn' }, initialDelay: 5000 });
        Kinesis_Text(quote2, $('.textParserClient'), { Orientation: { direction: 'random' }, FadeOnSweep: true }, undefined, { in: { effect: 'fadeIn' }, initialDelay: 3000 });

        $('.animate-final').delay(10000).show(1000);
    </script>
}
